[Unit]
Description=Cron Job Container for LibreBooking
Requires=app.service
After=app.service

[Container]
ContainerName=cron
Image=docker.io/localhost/librebooking:develop
Network=librebooking.network
Exec=supercronic /config/lb-jobs-cron
EnvironmentFile=./lb.env
Label=librebooking
Volume=lb-images.volume:/var/www/html/Web/uploads/images
Volume=lb-reservation.volume:/var/www/html/Web/uploads/reservation

[Install]
WantedBy=default.target

[Service]
Restart=always