name: Build release image

on:
  schedule:
    - cron: '0 1 * * 6'
  workflow_dispatch:

jobs:
  get-data:
    runs-on: ubuntu-latest
    secrets:
      REGISTRY_TOKEN: ${{ secrets.REGISTRY_TOKEN }}
    outputs:
      imgTag: ${{ steps.get_imgTag.outputs.imgTag }}
    steps:
      -
        name: Checkout github repository
        uses: actions/checkout@v6
        with:
          repository: ${{ vars.DOCKER_REPOSITORY }}
      -
        name: Get image latest tags
        id: get_imgTag
        run: |
          imgTag=$(git describe --tags | sed -e "s/^[vV]//")
          echo "imgTag=$imgTag" >> $GITHUB_OUTPUT
  build-release:
    uses: ./.github/workflows/build_and_publish.yml
    with:
      appGitRefs: ${{ jobs.get-data.outputs.imgTag }}
      imgBuild: ${{ vars.IMAGE_BUILD }}
      regName: ${{ vars.REGISTRY_URL }}
      regLogin: ${{ vars.REGISTRY_LOGIN }}
    secrets:
      REGISTRY_TOKEN: ${{ secrets.REGISTRY_TOKEN }}
