name: Test 1

on:
  workflow_dispatch:
    inputs:
      imgTag:
        required: false
        description: 'Docker image tag'
        default: ''
      appTag:
        required: false
        description: 'Librebooking tag'
        default: ''

env:
  imgTag: ${{ inputs.imgTag }}
  appTag: ${{ inputs.appTag }}

jobs:
  get-latest-tags:
    runs-on: ubuntu-latest
    steps:
      -
        name: get docker latest tag
        if: ${{ env.imgTag == '' }}
        id: get-docker-latest-tag
        run: |
          git clone https://github.com/librebooking/docker
          pushd docker
          imgTag=$(git describe --tags | sed -e "s/^[vV]//" | sed -e "s/\(^.*\)-.*-.*/\1/")
          echo "${imgTag}"
          echo "imgTag=$imgTag" >> $GITHUB_OUTPUT
          popd
      -
        name: get librebooking latest tag
        if: ${{ env.appTag == '' }}
        id: get-librebooking-latest-tag
        run: |
          git clone https://github.com/librebooking/librebooking
          pushd librebooking
          appTag=$(git describe --tags | sed -e "s/^[vV]//" | sed -e "s/\(^.*\)-.*-.*/\1/")
          echo "${appTag}"
          echo "appTag=$appTag" >> $GITHUB_OUTPUT
          popd
