name: Test 1

on:
  workflow_dispatch:

jobs:
  get-latest-tags:
    runs-on: ubuntu-latest
    steps:
      -
        name: get docker latest tag
        id: get-docker-latest-tag
        run: |
          git clone https://github.com/librebooking/docker
          pushd docker
          imgTag=$(git describe --tags | sed -e "s/^[vV]//" | sed -e "s/\(^.*\)-.*-.*/\1/")
          echo "${imgTag}"
          echo "imgTag=$imgTag" >> $GITHUB_OUTPUT
          popd
      -
        name: get librebooking latest tag
        id: get-librebooking-latest-tag
        run: |
          git clone https://github.com/librebooking/librebooking
          pushd librebooking
          appTag=$(git describe --tags | sed -e "s/^[vV]//" | sed -e "s/\(^.*\)-.*-.*/\1/")
          echo "${appTag}"
          echo "appTag=$appTag" >> $GITHUB_OUTPUT
          popd
